# Virtual environment
venv/
env/

# Compiled files
*.pyc
__pycache__/

# Secrets and keys
*.env
*.sqlite3

# Static and media files (optional)
static/
media/

# IDE and editor files
.vscode/
.idea/
*.swp
